{
  "presets": [
    [
      "env"
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "icons": "./demo/comps"
      }
    }]
  ]
}
