import React from 'react';{% for comp in comps %}
import {{comp.name}} from 'icons/{{comp.name}}';{% endfor %}

export default () => {
  return (
    <ul className="svg-comps-list">{% for comp in comps %}
      <li>
        <{{comp.name}} />
        <div className="comp-name">{{comp.name}}</div>
      </li>{% endfor %}
    </ul>
  );
};
